*{box-sizing: border-box;}
h1{box-sizing: border-box;
    border: 3px rgb(85, 99, 230) solid;
    padding: 12px;
    padding-left: 30px;
    margin: 20px;
    width: 30px;
    color: rgb(82, 80, 196);
    background: linear-gradient(#fff, #555454);

}
h2{color: rgb(47, 47, 126);}
h3{color: rgb(14, 2, 2);}
button{width: 200px}
/*селектор классов:*/
.red-text {color: rgb(209, 70, 15);}
#Prog{color: blue;}
button:hover{ background-color: rgb(59, 110, 187);}
button:active{ background-color: rgb(36, 38, 168);}

h1 {font-size: 50px;
font-weight: 600;
font-style:normal;
width: 250px;
background-color: rgb(193, 193, 196);
height: 90px;
border-radius: 50px;
}

.glass{
    background: rgba(52, 53, 212, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(52, 53, 212, 1);
    
    }

button{
    background-color: rgb(211, 208, 208);
    padding: 8px 20px 8px 20px;
    margin: 8px 20px 8px 20px;
    border: 2px rgb(4, 53, 4) solid;
    border-radius: 12px;

}

.header-info__botton{
    border-radius: 15px;
    background-color: rgb(99, 98, 98);
    font-size: 15px;
    padding: 6px 2px 6px 2px;
    width: 100px;
}

header{
    padding: 20px;
    height: 100vh;

}

.aboutme{
    height: 100vh;
    background: url(../images/фонк2.jpg)
}

.prog1{
    
    background: url(../images/фонк2.jpg)
}

.prog2{
    
    background: url(../images/фонк2.jpg)
}

.prog3{
    
    background: url(../images/фонк2.jpg)
}

.programms{
    background: url(../images/фонк2.jpg)
}

.contacts{
    height: 100vh;
    background: url(../images/фонк1.jpg);
}

body{
    font-family: "Roboto", sans-serif;  font-weight: 100;  font-style: normal;
}

header{
    background: url(../images/фонк2.jpg);
}

.navigation__list{
    margin: 10px;
    padding: 20px 20px 20px 20px;
    width: 500px;
}

a{color: rgb(7, 6, 6);
text-decoration: none;
padding: 20px 20px 20px 20px;
}

h3+h4 {
    color: yellow;
}
